* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
	--preto: #121212;
  --branco: #ffffff;
  --vermelhoEscuro: #810000;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 90%;
}

header {
  background-color: var(--vermelhoEscuro);
  height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--branco);
}

header .menu {
  justify-content: space-between;
}

header .list-items {
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  padding: 4px;
  color: var(--branco);
}

.list-items li a:hover {
  border-bottom: 2px solid var(--preto);
}

.list-items li a.active {
  border-bottom: 2px solid var(--preto);
}

.flex-container {
  display:flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

/* PRESENTATION */
.presentation {
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}

.presentation .txt-presentation {
  min-height: 200px;
}

.presentation img {
  margin-left: 90px;
}

.txt-presentation h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ABOUT */
.about {
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}

#about {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#about h2 {
  font-size: 32px;
  color: var(--preto);
  display: flex;
  margin-bottom: 20px;
  margin-left: 100px;
}

#about h2::before {
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 5px;
  background-color: var(--vermelhoEscuro);
  position: relative;
}

#about p {
  margin-bottom: 10px;
  margin-left: 100px;
  width: 90%;
}

#about img {
  min-width: 210px;
}

/* SERVICES */
.container-external {
  background-color: var(--preto);
  width: 100%;
}

#services {
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;
}

#services h2 {
  color: var(--branco);
  font-size: 32px;
  margin-bottom: 20px;
}

.list-services {
  display: flex;
  justify-content: space-between;
}

.list-services .item-services {
  text-align: center;
}

.item-services a {
  width: 220px;
  background-color: var(--branco);
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  padding: 5px 10px;
  color: var(--vermelhoEscuro);
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}

.item-services p {
  font-weight: 700;
  font-size: 18px;
  color: var(--branco);
  margin-top: 20px;
}

.item-services img {
  width: 80%;
  margin: auto;
}

/* BACK TO TOP BUTTON */
.back-to-top-btn {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  text-decoration: none;
}

.back-to-top-btn::after {
  content: "✈️";
  font-size: 32px;
  font-weight: bold;
  transition: margin-top 250ms;
}

.back-to-top-btn:hover::after {
  margin-top:-4px;
}

/* FOOTER */
footer {
  background-color: var(--preto);
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 16pt;
  text-align: center;
}

footer .footer {
  justify-content: center;
  color: var(--branco);
}

footer i {
  margin-left: 20px;
}

footer i:hover {
  transform: scale(1.15);
}

footer a {
  text-decoration: none;
  color: var(--branco);
}