* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
	--preto: #121212;
  --branco: #ffffff;
  --vermelhoEscuro: #810000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  display: block;
  width: 90%;
}

header {
  background-color: var(--vermelhoEscuro);
  height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--branco);
}

header .menu {
  justify-content: space-between;
}

header .list-items {
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
  align-items: center;
}

.list-items li a {
  color: var(--branco);
}

.flex-container {
  display:flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

.presentation {
  height: 50vh;
  align-items: center;
  justify-content: space-between;
}

.presentation .txt-presentation {
  min-height: 200px;
}

.presentation img {
  margin-left: 90px;
}

.txt-presentation h1 {
  color: #122a57;
  font-size: 48px;
  margin-bottom: 10px;
}

.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#about {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#about h2 {
  font-size: 32px;
  color: var(--preto);
  display: flex;
  margin-bottom: 20px;
  margin-left: 100px;
}

#about h2::before {
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 5px;
  background-color: var(--vermelhoEscuro);
  position: relative;
}

#about p {
  margin-bottom: 10px;
  margin-left: 100px;
  width: 90%;
}

#about img {
  min-width: 210px;
}

/* BACK TO TOP BUTTON */
.back-to-top-btn {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  right: 10px;
  width: 45px;
  height: 45px;
  background-color: var(--preto);
  text-decoration: none;
}

.back-to-top-btn::after {
  content: "↑";
  font-size: 32px;
  font-weight: bold;
  transition: margin-top 150ms;
}

.back-to-top-btn:hover::after {
  margin-top:-4px;
}